/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap');
/* 
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/
/* common related style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
/* banner Section */
.container{
    width: 85%;
    max-width: 1320px;
    margin: 0 auto;
    height: 600px;   
}
.banner{
    margin-top: 50px;
    margin-bottom: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ) ,url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 16px;
}
.banner-text{
    text-align: center;
    padding: 180px 344px;
}
.banner-text h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.banner-text h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/* discount section */
.discount{
    margin-bottom: 100px;
    text-align: center;
    padding: 0 400px;
}
.discount-percent{
    margin-bottom: 35px;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.discount-tittle{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.discount-catagories{
    margin: 16px 0 48px; 
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
/* welcome section */
.welcome{
    display: flex;
    gap: 20px;
    
    margin-top: 50px;
    margin-bottom: 100px;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.7763480392156863) 30%, rgba(255,255,255,0) 90%) ,url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 16px;
}
.welcome-group{

}
.welcome-tittle{
    margin-top: 126px;
    margin-left: 70px;
    padding: 0 40px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.welcome-para{
    margin: 24px 0 45px;
    margin-left: 70px;
    padding: 0 40px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.btn-primary{
    margin-left: 90px;
    padding: 0 50px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: transparent;
    border: 0;
}
.welcome-img img{
    background-position: center;
    background-size: cover;
}