/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap');
/* 
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/
/* common related style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
/* banner Section */
.container{
    width: 85%;
    max-width: 1320px;
    margin: 0 auto;
    height: 600px;   
}
.banner{
    margin-top: 50px;
    margin-bottom: 100px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 16px;
}
.banner-text{
    text-align: center;
    padding: 180px 344px;
}
.banner-text h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.banner-text h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/* discount section */
.discount{
    margin-bottom: 100px;
    text-align: center;
    padding: 0 400px;
}
.discount-percent{
    margin-bottom: 35px;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.discount-tittle{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.discount-catagories{
    margin: 16px 0 48px; 
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
/* welcome section */
.welcome{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 16px;
}

.welcome-tittle{
    margin-left: 70px;
    padding: 0 60px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.welcome-para{
    margin: 24px 0 45px;
    margin-left: 70px;
    padding: 0 60px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.btn-primary{
    margin-left: 90px;
    padding: 0 60px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: all .5s;
}
.btn-primary:hover{
    color: gold;
}
.welcome .welcome-img img{
    padding-right: 135px;
}
/* event section */
.event{
    height: 482px;
    margin-bottom: 120px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
}
.event-details{
    padding-top: 115px;
    width: 45%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.event-color{
    color: #F00;
}
.event-details h2{
    text-align: center;
    color: #070211;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.btn{
    margin-top: 48px;
    margin-bottom: 110px;
    margin-left: 34%;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
}
/* Offer Section */
.best-offer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    
}
.offer-details h4{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.offer-details h3{
    margin-bottom: 22px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.offer-details p{
    
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.offer-pic{
    margin: 0 42px 0 48px;
    padding: 21px;
    border-radius: 463px;
    border: 15px solid #F00;
}
.offer-year{
    width: 100%;
}
.offer-year .year{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}
.offer-year p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.offer-year img{
    margin-top: 43px;
}
/* funtional section */
.funtional{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin-bottom: 120px;
}
.funtional-details h4{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    }
.funtional-details span{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.funtional-details h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 25px;
}
.funtional-details p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    margin-bottom: 60px;
}
/* This section img part will do after all sections completed*/


/* gift products section */
.gift{
    margin-bottom: 110px;
}
.gift-details{
    width: 70%;
}
.gift-details h4{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.gift-details h1{
    margin: 12px 0 18px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.gift-details p{
    margin-bottom: 40px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.gift-products{
    display: flex;
    gap: 20px;   
}
.gift-img img{
    width: 100%;
}
.gift-img{
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
    margin-bottom: 10px;
}
.gift-img:hover{
    cursor: pointer;
}
/* subscribe section */
.subscribe{
    margin-top: 700px;
    margin-bottom: 110px;
}
.subscribe-bg{
    
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe-details img{
    margin-top: 80px;
}
.subscribe-details h1{
    margin-top: 35px;
    margin-bottom: 18px;
    color: #070211;  
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.subscribe-details p{
    width: 76%;
    margin: 0 auto;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.subscribe-mail input{
    border-radius: 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    border: none;
}
.subscribe-input{
    margin-top: 45px;
    padding: 23px;
    padding-left: 25px;
    padding-right: 350px;
}

.subscribe-mail .subscribe-button{
    margin-left: -120px;
    color: #FFF;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 24px 55px;
}
.subscribe-button:hover{
    cursor: pointer;
}
.subscribe-mail .subscribe-button input{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
/* footer section */
.footer-bg{
    background: #070211;
}
.footer-top ,.footer-bottom{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.address ,.number{
    margin: 110px 0 45px;
}
.address ,.number,.footer-bottom{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.15); 
}
.footer-middle{
    text-align: center;
    margin: 45px 0;
}
.footer-middle img{
    margin-right: 20px;
}
.footer-bottom{
    margin: 45px 0 110px;
}
