/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap');
/* 
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/
/* common related style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
/* banner Section */
.container{
    width: 85%;
    max-width: 1320px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) ,url('../images/Banner\ Image.png');
    margin: 0 auto;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 16px;
}
.banner{
    margin-top: 50px;
    margin-bottom: 100px;
}
.banner-text{
    text-align: center;
    padding: 180px 344px;
}
.banner-text h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.banner-text h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/* discount section */
.discount{
    margin-bottom: 100px;
    text-align: center;
    padding: 0 400px;
}
.discount-percent{
    margin-bottom: 35px;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.discount-tittle{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.discount-catagories{
    margin: 16px 0 48px; 
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}